<h2>Add a case:</h2>

<%= link_to 'Back', quote_path(@quote)%>

<div id="myModal" class="modal hide fade">
           <div class="modal-header">
             <a class="close" data-dismiss="modal" >&times;</a>
             <h3>Modal Heading</h3>
           </div>
          
            <%= render 'cases/form' %>
            
</div><a data-toggle="modal" href="#myModal" class="btn btn-info">New Case</a>
